/* silver: #C0C0C0 */
/* green: #4A9A33 */
/* orange: #F79A33 */
/* red: #D74338 */


.srpfx, .srpfx small {
  /*silver background*/
  background-color: #C0C0C0; 
  color: #403600;
}

.kifax, .kifax small {
  /*green background*/
  background-color: #19FFBD;
  color: #404040;
}

.smlpx, .smlpx small {
  /*green background*/
  background-color: #FFBC00;
  color: #403600;
}

.ahbax, .ahbax small {
  /*red background*/
  background-color: #D74338;
  color: #403600;
}

.kgiyx, .kgiyx small {
  /*orange background*/
  background-color: #F79A33;
  color: #403600;
}

html, body, .container-fluid {
  height: 100%;
}

.row {
  height: 25%;
}

.price {
  padding-right: 5px;
}

/* Add a ( before the change */
.change::before {
  content: '(';
}

/* Add a ) after the change */
.change::after {
  content: ')';
}

/* Add a ( before the change */
.percentChange::before {
  content: '(';
}

/* Add a ) after the change */
.percentChange::after {
  content: '%)';
}

/* Add a $ before the price */
.price::before {
  content: '$';
}

/* Hide the price and change when they are empty */
.change:empty, .price:empty {
  display: none;
}
